# SPDX-FileCopyrightText: 2026 eatenlamp eatenlamp@proton.me
#
# SPDX-License-Identifier: AGPL-3.0-or-later

/build/
/.idea/
*.iml
local.properties
*.apk
*.jks
key.properties
.DS_Store
*.log
/captures/
.externalNativeBuild/
.env

.gradle/
gradle-wrapper.properties

fastlane/report.xml
fastlane/test_output
fastlane/Preview.html
fastlane/screenshots

Thumbs.db
*.swp
*.lock
gradle-wrapper.properties
*.license
app/src/main/res/xml/backup_rules.xml
app/src/main/res/xml/data_extraction_rules.xml
