# SPDX-FileCopyrightText: 2026 2026 eatenlamp <eatenlamp@proton.me>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

**/fastlane/report.xml

**/fastlane/Preview.html

**/fastlane/screenshots

**/fastlane/test_output
